.container-blog{
  background-color: rgb(242, 245, 249);
  padding-bottom: 80px;
}

.header-blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 10px;
}

.header-blog p {
  color: rgb(255, 99, 99);
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bolder;
  margin-bottom: 0px;
  font-size: small;
}

.header-blog h2 {
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
  margin-top: -5px;
}

.blogs-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}