@media (width <= 993px){
  .footer-container{
    width: 100%;
  }

  .footer-two{
    margin-top: 5px;
    width: 100%;
  }

  .footer-two p{
    display: flex;
  }

  .footer-two link{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
  }
}